﻿@model MelodiesInUs.Models.Track

               @using (Html.BeginForm("CreateFile", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
               {
                @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.File, null, new { type = "file" })
                <input type="submit" value="Save File" class="btn btn-default" />
               }

                <a href="~/Track/Create">Back to Track Create</a>

