﻿@using WebGrease.Css.Ast
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron wrapper" id="jumbo">

    <h1>MusicInUs</h1>
    <p class="lead">Never source your music again.</p>
    <p>
        <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>API Stuff</h2>
        <p>
            <a class="btn btn-default"> Tell me you love me &raquo;</a>

        </p>
    </div>
    <div class="col-md-4">
        <h2>Download or Add</h2>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index","Track")">Let's do this! &raquo;</a>
           
        </p>

    </div>

</div>