﻿#jumbo {
   
   // background-image:url(/Content/Images/jumbotron.jpg);
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
    
}

.wrapper {
    width: 100%;
    height: 100%
}