﻿@model MelodiesInUs.Models.Track
@using MelodiesInUs.Controllers
@using MelodiesInUs.Models
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Track</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.artist, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.artist, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.artist, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
        <input id="inputbox" type="file" name="PageUpload" />
    </div>
    

</div>

    
    <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
        
        </div>
    </div>

}   

        @Html.ActionLink("Back to List", "Index")
    
