﻿@model MelodiesInUs.Models.TrackList
<h2>Tracks</h2>

<p>
    @if (Model != null)
    {
        foreach (var item in Model.ListOfTracks)
        {
            <ul>
                <li>@item.artist.ToString() <span> | </span>@item.title.ToString()</li>
            </ul>
        }
    }
</p>

<div>
    @Html.ActionLink("Add Track", "Create","Track")
</div>